.btn1{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: auto;
    margin-top: 50px;
}

img{
    height: 400px;
    width: 100%;
}
